
Data/Plaque_Chevalet_Modal_Primal_Dx_0.103_Dy_3.500_cm_z_Nmc_99_Nmp_4784.npz

Data/String_modal_basis_A2_Dy_2.031_cm_T_74_N_mu_3610_mg.m-1_Woodhouse_2012.npz

Data/String_modal_basis_B3_Dy_2.031_cm_T_53_N_mu_520_mg.m-1_Woodhouse_2012.npz

Data/String_modal_basis_D3_Dy_2.031_cm_T_71_N_mu_1950_mg.m-1_Woodhouse_2012.npz

Data/String_modal_basis_E2_Dy_2.031_cm_T_72_N_mu_6240_mg.m-1_Woodhouse_2012.npz

Data/String_modal_basis_E4_Dy_2.031_cm_T_70_N_mu_380_mg.m-1_Woodhouse_2012.npz

Data/String_modal_basis_G3_Dy_2.031_cm_T_58_N_mu_900_mg.m-1_Woodhouse_2012.npz

*.wav

*.npz
